<ul class="collection with-header">
    <li class="collection-header blue-grey blue-lighten-2 white-text">
        <span> <i class="fa fa-list-alt"></i> Requistions</span>
    </li>
    <li class="collection-item"><a class="grey-text text-darken-1" href="{% url 'add_requisition' %}"> <i
                class="fa fa-plus grey-text text-darken-1"></i>
            New Request </a></li>
    <li class="collection-item"><a class="grey-text text-darken-1" href="#"> <i
                class="fa fa-mail-reply grey-text text-darken-1"></i>
            Total </a> <span class="blue-grey blue-lighten-2 white-text badge">87</span></li>
    <li class="collection-item"><a class="grey-text text-darken-1" href="#"> <i
                class="fa fa-mail-forward grey-text text-darken-1"></i>
            Approved </a> <span class="blue-grey blue-lighten-2 white-text badge">44</span></l i>
    <li class="collection-item"><a class="grey-text text-darken-1" href="#"> <i
                class="fa fa-files-o grey-text text-darken-1"></i> Pending
        </a> <span class="blue-grey blue-lighten-2 white-text badge">33</span></li>
    <li class="collection-item"><a class="grey-text text-darken-1" href="#"> <i
                class="fa fa-list-ol grey-text text-darken-1"></i> Denied
        </a> <span class="blue-grey blue-lighten-2 white-text badge">10</span>
    </li>
</ul>