{% extends 'base.html' %}

{% block content %}

<section class="container">
    <div class="row">
        <div class="col s12 m3 l3">
            <ul class="collection with-header">
                <li class="collection-header blue-grey blue-lighten-2 white-text">
                    <span> <i class="fa fa-list"></i> Table of content</span>
                </li>
                <li class="collection-item"><a class="grey-text text-darken-1" href="#">
                        Incoming </li>
                <li class="collection-item"><a class="grey-text text-darken-1" href="#">
                        Outgoing </li>
                <li class="collection-item"><a class="grey-text text-darken-1" href="#">
                        Waybill </li>
                <li class="collection-item"><a class="grey-text text-darken-1" href="#">
                        Stock </li>
                <li class="collection-item"><a class="grey-text text-darken-1" href="#">
                        Requistions </li>
            </ul>
        </div>
        <div class="col s12 m9 l9">
            <ul class="collection">
                <li class="collection-item blue-grey blue-lighten-2 white-text">
                    <h5> <i class="fa fa-mail-reply"></i> Incoming</h5>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s12">
                            <table class="striped dataTable">
                                <thead>
                                    <tr>
                                        <th>Activity</th>
                                        <th>User</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam!
                                        </td>
                                        <td>Tony Max</td>
                                        <td>24th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing eli!
                                        </td>
                                        <td>Jane Williams</td>
                                        <td>23th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.aliquam!
                                        </td>
                                        <td>John Doe</td>
                                        <td>22th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam!
                                        </td>
                                        <td>Willy Smith</td>
                                        <td>22th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam!
                                        </td>
                                        <td>Tony Max</td>
                                        <td>24th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing eli!
                                        </td>
                                        <td>Jane Williams</td>
                                        <td>23th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.aliquam!
                                        </td>
                                        <td>John Doe</td>
                                        <td>22th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam!
                                        </td>
                                        <td>Willy Smith</td>
                                        <td>22th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam!
                                        </td>
                                        <td>Tony Max</td>
                                        <td>24th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing eli!
                                        </td>
                                        <td>Jane Williams</td>
                                        <td>23th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.aliquam!
                                        </td>
                                        <td>John Doe</td>
                                        <td>22th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam!
                                        </td>
                                        <td>Willy Smith</td>
                                        <td>22th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam!
                                        </td>
                                        <td>Tony Max</td>
                                        <td>24th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing eli!
                                        </td>
                                        <td>Jane Williams</td>
                                        <td>23th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.aliquam!
                                        </td>
                                        <td>John Doe</td>
                                        <td>22th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam!
                                        </td>
                                        <td>Willy Smith</td>
                                        <td>22th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam!
                                        </td>
                                        <td>Tony Max</td>
                                        <td>24th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing eli!
                                        </td>
                                        <td>Jane Williams</td>
                                        <td>23th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.aliquam!
                                        </td>
                                        <td>John Doe</td>
                                        <td>22th April 2020</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam!
                                        </td>
                                        <td>Willy Smith</td>
                                        <td>22th April 2020</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}