{% extends 'base.html' %}

{% block content %}

<section class="container">
    <div class="row">
        <div class="col s12 m3 l3">
            <ul class="collection with-header">
                <li class="collection-header blue-grey blue-lighten-2 white-text">
                    <span> <i class="fa fa-list"></i> Table of content</span>
                </li>
                <li class="collection-item"><a class="grey-text text-darken-1" href="#">
                        Incoming </li>
                <li class="collection-item"><a class="grey-text text-darken-1" href="#">
                        Outgoing </li>
                <li class="collection-item"><a class="grey-text text-darken-1" href="#">
                        Waybill </li>
                <li class="collection-item"><a class="grey-text text-darken-1" href="#">
                        Stock </li>
                <li class="collection-item"><a class="grey-text text-darken-1" href="#">
                        Requistions </li>
            </ul>
        </div>
        <div class="col s12 m9 l9">
            <ul class="collection">
                <li class="collection-item blue-grey blue-lighten-2 white-text">
                    <h5> <i class="fa fa-book"></i> Documentation</h5>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s12">
                            <h4>Lorem ipsum </h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nisi eius iure consectetur,
                                vel quae. Nesciunt quidem, veritatis sunt in veniam harum. Ipsum aut est voluptatum
                                repellat quisquam laboriosam sunt.
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit laboriosam nisi
                                animi nobis dolore libero ad vero velit deleniti, quisquam, totam beatae a optio
                                pariatur, fugit quidem est aperiam sunt harum. Ullam culpa iusto explicabo quod
                                excepturi? Nam vitae voluptate facilis, mollitia, iste ipsa possimus officia
                                exercitationem ducimus molestias tenetur.</p>
                            <h4>Lorem ipsum dolor sit.</h4>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam distinctio, ut alias
                                aliquam ullam ipsam deserunt reiciendis pariatur, iure rerum, perferendis hic! Corporis
                                rem aperiam aliquam praesentium voluptates similique illum quos rerum recusandae unde
                                error commodi nostrum, eveniet repellat alias obcaecati amet deleniti ex facere quisquam
                                dolor enim incidunt. Voluptatem quam, nihil quod obcaecati impedit natus nostrum laborum
                                eaque! Laborum.</span>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nisi eius iure consectetur,
                                vel quae. Nesciunt quidem, veritatis sunt in veniam harum. Ipsum aut est voluptatum
                                repellat quisquam laboriosam sunt.
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit laboriosam nisi
                                animi nobis dolore libero ad vero velit deleniti, quisquam, totam beatae a optio
                                pariatur, fugit quidem est aperiam sunt harum. Ullam culpa iusto explicabo quod
                                excepturi? Nam vitae voluptate facilis, mollitia, iste ipsa possimus officia
                                exercitationem ducimus molestias tenetur.</p>
                            <h4>Lorem ipsum dolor sit.</h4>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam distinctio, ut alias
                                aliquam ullam ipsam deserunt reiciendis pariatur, iure rerum, perferendis hic! Corporis
                                rem aperiam aliquam praesentium voluptates similique illum quos rerum recusandae unde
                                error commodi nostrum, eveniet repellat alias obcaecati amet deleniti ex facere quisquam
                                dolor enim incidunt. Voluptatem quam, nihil quod obcaecati impedit natus nostrum laborum
                                eaque! Laborum.</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}